:root{
    --verde-claro: #80A69B;
    --verde-oscuro: #39594A;
    --amarillo-claro: #F2C230;
    --amarillo-oscuro: #F2A922;
    --cafe-claro: #A67417;
}

*{
    font-family: 'Quicksand', sans-serif;
}

.contenedorLogo{
    background-color: var(--verde-claro);
    height: 851px;
}

.logo{
    width: 300px;
}

.contentimageSlider {
    width: 300px;
    height: 400px;
}

.imageSlider{
    width: 300px;
}

.titulo{
    font-weight: 700;
}